/* .products__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;

} */

.product__container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  /* gap: 20px; */
}

.single__product{
  height: 335px;
  padding: 35px;
  
  border: 1px solid black;
  border-radius: 5px;
  text-align: center;
  margin: 10px;

}

.single__product img{
  object-fit: cover;
  width: 100%;
  height: 95%;
}

.product_desc{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
}

/* .__product {
  border: 1px solid black;
  padding: 20px;
  margin: 20px;
} */

 .pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

.pagination__element{
  color: black;
  padding: 10px 20px;
  
  font: bold;
  font-weight: 700;
  border: 1px solid black;
  cursor: pointer;
}

.active{
  background-color: rgb(220, 220, 220);
  color: black;
  padding: 10px 20px;
  
  font: bold;
  font-weight: 700;
  border: 1px solid black;
  cursor: pointer;
  
} 